<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [17]:
import pandas as pd

Load the dataset into a dataframe.

In [18]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [19]:
# Counts duplicate rows, prints'Nummber of duplicate rows:' and displays the number of duplicate rows
duplicate_rows = df.duplicated().sum()
print("Number of duplicate rows:", duplicate_rows)

Number of duplicate rows: 154

In [20]:
# Count the number of duplicate entries in the 'Respondent' column
duplicate_respondents = df['Respondent'].duplicated().sum()
print("Number of duplicate entries in 'Respondent':", duplicate_respondents)

Number of duplicate entries in 'Respondent': 154

## Removing duplicates

In [21]:
num_rows = df.shape[0]
print("number of rows in teh dataset:", num_rows)

number of rows in teh dataset: 11552

Remove the duplicate rows from the dataframe.

In [22]:
# Removes duplicate rows
df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [23]:
# Verifies if duplicates were actually dropped
duplicate_rows_after = df.duplicated().sum()
#pritns 'Number of duplicate rows after removal:" and displays the number  of duplicates after removal
print("Number of duplicate rows after removal:", duplicate_rows_after)

Number of duplicate rows after removal: 0

In [24]:
num_rows_after = df.shape[0]
print("number of rows in the dataset afteer duplicate removal:", num_rows_after)
unique_respondent_after = df['Respondent'].nunique()
print("Number of rows in Respondent Column After Duplicate Removal:", unique_respondent_after)

number of rows in the dataset afteer duplicate removal: 11398
Number of rows in Respondent Column After Duplicate Removal: 11398

## Finding Missing values

Find the missing values for all columns.

In [25]:
# Finds missing values for all columns
missing_values = df.isnull().sum()
# Sets the option to display all rows/columns 
pd.set_option('display.max_rows', None)  # for rows
pd.set_option('display.max_columns', None)  # for columns
pd.set_option('display.max_colwidth', None)  # for column width
# Displays missing values
missing_values

Respondent                   0
MainBranch                   0
Hobbyist                     0
OpenSourcer                  0
OpenSource                  81
Employment                   0
Country                      0
Student                     51
EdLevel                    112
UndergradMajor             737
EduOther                   164
OrgSize                     96
DevType                     65
YearsCode                    9
Age1stCode                  13
YearsCodePro                16
CareerSat                    0
JobSat                       1
MgrIdiot                   493
MgrMoney                   497
MgrWant                    493
JobSeek                      0
LastHireDate                 0
LastInt                    413
FizzBuzz                    37
JobFactors                   3
ResumeUpdate                39
CurrencySymbol               0
CurrencyDesc                 0
CompTotal                  809
CompFreq                   206
ConvertedComp              816
WorkWeekHrs                122
WorkPlan                   121
WorkChallenge              164
WorkRemote                   8
WorkLoc                     32
ImpSyn                       5
CodeRev                      1
CodeRevHrs                2426
UnitTests                   29
PurchaseHow                196
PurchaseWhat                38
LanguageWorkedWith          11
LanguageDesireNextYear     134
DatabaseWorkedWith         453
DatabaseDesireNextYear    1042
PlatformWorkedWith         411
PlatformDesireNextYear     544
WebFrameWorkedWith        1393
WebFrameDesireNextYear    1617
MiscTechWorkedWith        2182
MiscTechDesireNextYear    1455
DevEnviron                  29
OpSys                       34
Containers                  82
BlockchainOrg             2322
BlockchainIs              2610
BetterLife                  98
ITperson                    35
OffOn                       38
SocialMedia                293
Extraversion                20
ScreenName                 507
SOVisit1st                 325
SOVisitFreq                  5
SOVisitTo                    1
SOFindAnswer                 3
SOTimeSaved                 50
SOHowMuchTime             1917
SOAccount                    1
SOPartFreq                1128
SOJobs                       6
EntTeams                     5
SOComm                       0
WelcomeChange               85
SONewContent              1965
Age                        287
Gender                      73
Trans                      123
Sexuality                  542
Ethnicity                  675
Dependents                 140
SurveyLength                19
SurveyEase                  14
dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [26]:
# Finds out how many rows are missing in the column 'WorkLoc'
missing_workloc = df['WorkLoc'].isnull().sum()
# Prints 'Missing rows in WorkLoc' then displaycs the missing values of 'Workloc'
print("Missing rows in 'WorkLoc':", missing_workloc)

Missing rows in 'WorkLoc': 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [27]:
# Value counts for the column 'WorkLoc'
workloc_counts = df['WorkLoc'].value_counts()
print(workloc_counts)

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [28]:
# Identifies the majority value
majority_value = workloc_counts.idxmax()
print("Majority value in WorkLoc:", majority_value)

Majority value in WorkLoc: Office

In [29]:
# Value counts for the column 'Employment'
workloc_counts = df['Employment'].value_counts()
print(workloc_counts)

Employed full-time    10968
Employed part-time      430
Name: Employment, dtype: int64

In [30]:
# Value counts for the column 'UndergradMajor'
workloc_counts = df['UndergradMajor'].value_counts()
print(workloc_counts)

Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

In [38]:
# Value counts for the column 'CompFreq'
workloc_counts = df['CompFreq'].value_counts()
print(workloc_counts)

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [13]:
# Imputes missing values in WorkLoc
df['WorkLoc'].fillna(majority_value, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [14]:
# Verifies the imputation
missing_workloc_after = df['WorkLoc'].isnull().sum()
print("Missing rows in 'WorkLoc' after imputation:", missing_workloc_after)

Missing rows in 'WorkLoc' after imputation: 0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [15]:
# Creates a Series object that counts the occurence of each unique value
compfreq_categories = df['CompFreq'].value_counts()
print(compfreq_categories)

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

In [32]:
unique_values = df['CompFreq'].unique()
print(unique_values)

['Yearly' 'Monthly' 'Weekly' nan]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [35]:
# Creates function to normalize compensation
def normalize_compensation(row):
    if row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return row['CompTotal']

# Applies the function
df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)

# Checks the new column
print(df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].head())

  CompFreq  CompTotal  NormalizedAnnualCompensation
0   Yearly    61000.0                       61000.0
1   Yearly   138000.0                      138000.0
2   Yearly    90000.0                       90000.0
3  Monthly    29000.0                      348000.0
4   Yearly    90000.0                       90000.0

In [37]:
median_normalized_annual_compensation = df['NormalizedAnnualCompensation'].median()
print(median_normalized_annual_compensation)

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).